<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myappvolley">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Main7TabYFrames"
            android:label="@string/title_activity_main7_tab_yframes"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Main6TabActivityx"
            android:label="@string/title_activity_main6_tab_activityx"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Main5ActivityVolleyList" />
        <activity
            android:name=".Main4ActivityLisViewSelect"
            android:label="@string/title_activity_main4_lis_view_select"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GridView5Activity"
            android:label="@string/title_activity_grid_view5"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Pruebas" />
        <activity android:name=".Main3Activity" />
        <activity android:name=".Main2Activity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>